apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: social-dashboard
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: social-dashboard
    component: frontend
